<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="root">
<form method="post" action="/" class="forms">
    <label>
        <br />
        <input placeholder="ФИО" />
    </label><br />
    <label>
        <input type="tel" placeholder="Телефон" />
    </label><br />
    <label>
        <input type="email" placeholder="e-mail" />
    </label><br />
    <label>
        Дата рождения <br/>
        <input type="date" />
    </label><br />
    <label>
    <input type="radio" value="male" />
    муж</label>
    <label>
    <input type="radio" value="female" />
    жен</label> <br />
    <label>
        <br />
        <select>
            <option disabled>Любимый язык программирования</option>
            <option value="Js">Js</option>
            <option value="C++" >C++</option>
            <option value="Pascal" >Pascal</option>
            <option value="PHP" >PHP</option>
            <option value="Python" >Python</option>
            <option value="Java" >Java</option>
            <option value="Haskel" >Haskel</option>
            <option value="Clojure" >Clojure</option>
            <option value="Prolog" >Prolog</option>
            <option value="Scala" >Scala</option>
            <option value="C" >C</option>
        </select>
    </label><br />
    <label>
        <textarea placeholder="Bio"></textarea>
    </label><br />
    <label>
        С контрактом ознокомился
        <input type="checkbox">
    </label><br />
    <input type="submit" value="Отправить" />
</form>
</body>
</html>